
<div style="background-color: lightblue; padding: 60px;">
    <h1><b>NLP - Prepare
</b></h1>
</div>

In [ ]:
# Run it once 
#nltk.download('wordnet')
#nltk.download('omw-1.4')
#nltk.download('stopwords')

In [1]:
import unicodedata
import re
import json

import nltk
from nltk.tokenize.toktok import ToktokTokenizer
from nltk.corpus import stopwords

import pandas as pd

import acquire as a

import prepare as p

Grabbing contents for business.
Time to grab contents of business: 0.87 seconds
Grabbing contents for entertainment.
Time to grab contents of entertainment: 0.84 seconds
Grabbing contents for technology.
Time to grab contents of technology: 1.06 seconds
Grabbing contents for sports.
Time to grab contents of sports: 2.77 seconds
Job finished!
It took 0.09 minutes to execute scraping

## Exercises

In this lesson we'll take our acquired data and parse it, that is, we'll better understand the text data by breaking it down into smaller components.

In this exercise we will be defining some functions to prepare textual data. These functions should apply equally well to both the codeup blog articles and the news articles that were previously acquired.

1. Define a function named basic_clean. It should take in a string and apply some basic text cleaning to it:

 - Lowercase everything
 - Normalize unicode characters
 - Replace anything that is not a letter, number, whitespace or a single quote.

In [4]:
article = "Coming into our Data Science program, you will need to know some math and \
stats. However, many of our applicants actually learn in the application process – you \
don’t need to be an expert before applying! Data science is a very accessible field to \
anyone dedicated to learning new skills, and we can work with any applicant to help them \
learn what they need to know. But what “skills” do we mean, exactly? Just what exactly \
are the data science math and stats principles you need to know?', 'What are the main \
math principles you need to know to get into Codeup’s Data Science program?'"
article

"Coming into our Data Science program, you will need to know some math and stats. However, many of our applicants actually learn in the application process – you don’t need to be an expert before applying! Data science is a very accessible field to anyone dedicated to learning new skills, and we can work with any applicant to help them learn what they need to know. But what “skills” do we mean, exactly? Just what exactly are the data science math and stats principles you need to know?', 'What are the main math principles you need to know to get into Codeup’s Data Science program?'"

Note:-
    
    -  NFKD (Normalization Form Compatibility Decomposition)

    -  ASCII (American Standard Code for Information Interchange)

    - ASCII includes: all punctuation, numbers and A-Z -- There are 256 ASCII characters

Basically: the overall purpose of this syntax is to take an input string (original), normalize it, remove any diacritical marks, and convert it to a string containing only ASCII characters. Any non-ASCII characters are removed from the final output.

Note:-
    
r' : indicates raw string
^ : not including (negates the pattern)
a-z : any letter
0-9 : any number
Basically, this regex statement means, anything that is not a lowercase letter or a number. Leaving only lowercase letters, digits, and whitespace characters in the output

In [5]:
def basic_clean(text):
    '''
    This function takes in a string and returns the string normalized.
    '''
    # Lowercase everything
    text = text.lower()
    # Normalize unicode characters
    text = unicodedata.normalize('NFKD', text)\
        .encode('ascii', 'ignore')\
        .decode('utf-8', 'ignore')
    # Remove anything that is not a letter, number, or whitespace
    text = re.sub(r"[^a-z0-9\s]", '', text)
    return text

In [6]:
article_clean = basic_clean(article)
article_clean

'coming into our data science program you will need to know some math and stats however many of our applicants actually learn in the application process  you dont need to be an expert before applying data science is a very accessible field to anyone dedicated to learning new skills and we can work with any applicant to help them learn what they need to know but what skills do we mean exactly just what exactly are the data science math and stats principles you need to know what are the main math principles you need to know to get into codeups data science program'

In [3]:
#testing the function in prepare.py
article_clean_p = p.basic_clean(article)
article_clean_p

'coming into our data science program you will need to know some math and stats however many of our applicants actually learn in the application process  you dont need to be an expert before applying data science is a very accessible field to anyone dedicated to learning new skills and we can work with any applicant to help them learn what they need to know but what skills do we mean exactly just what exactly are the data science math and stats principles you need to know what are the main math principles you need to know to get into codeups data science program'

2. Define a function named tokenize. It should take in a string and tokenize all the words in the string.

In [7]:
def tokenize(text):
    '''
    This function takes in a string and returns it tokenized.
    '''
    # Create the tokenizer
    tokenizer = nltk.tokenize.ToktokTokenizer()
    # Use the tokenizer
    text = tokenizer.tokenize(text, return_str=True)
    return text

In [10]:
article_tokens = tokenize(article_clean)
article_tokens

'coming into our data science program you will need to know some math and stats however many of our applicants actually learn in the application process you dont need to be an expert before applying data science is a very accessible field to anyone dedicated to learning new skills and we can work with any applicant to help them learn what they need to know but what skills do we mean exactly just what exactly are the data science math and stats principles you need to know what are the main math principles you need to know to get into codeups data science program'

In [4]:
#testing the function in prepare.py

article_tokens_p = p.tokenize(article_clean_p)
article_tokens_p

'coming into our data science program you will need to know some math and stats however many of our applicants actually learn in the application process you dont need to be an expert before applying data science is a very accessible field to anyone dedicated to learning new skills and we can work with any applicant to help them learn what they need to know but what skills do we mean exactly just what exactly are the data science math and stats principles you need to know what are the main math principles you need to know to get into codeups data science program'

### NOTE:

Step to tokenize:

Create the tokenizer
Use the tokenizer
Now, instead of a block of text, we have a list of individual words.

3. Define a function named stem. It should accept some text and return the text after applying stemming to all the words.

In [6]:
def stem(text):
    '''
    This function takes in a string and returns it stemmed.
    '''
    # Create the porter stemmer
    ps = nltk.porter.PorterStemmer()
    # Use the stemmer on each token
    stems = [ps.stem(word) for word in text.split()]
    # Join the stemmed list of words back into a string
    article_stemmed = ' '.join(stems)
    return article_stemmed, stems

In [12]:
article_stemmed, stems = stem(article_tokens)
article_stemmed

'come into our data scienc program you will need to know some math and stat howev mani of our applic actual learn in the applic process you dont need to be an expert befor appli data scienc is a veri access field to anyon dedic to learn new skill and we can work with ani applic to help them learn what they need to know but what skill do we mean exactli just what exactli are the data scienc math and stat principl you need to know what are the main math principl you need to know to get into codeup data scienc program'

In [23]:
pd.Series(stems).value_counts().head(10)

to        9
need      5
data      4
scienc    4
you       4
what      4
know      4
applic    3
the       3
math      3
Name: count, dtype: int64

In [5]:
article_stemmed, p.stems = p.stem(article_tokens_p)
article_stemmed

'come into our data scienc program you will need to know some math and stat howev mani of our applic actual learn in the applic process you dont need to be an expert befor appli data scienc is a veri access field to anyon dedic to learn new skill and we can work with ani applic to help them learn what they need to know but what skill do we mean exactli just what exactli are the data scienc math and stat principl you need to know what are the main math principl you need to know to get into codeup data scienc program'

4. Define a function named lemmatize. It should accept some text and return the text after applying lemmatization to each word.

In [7]:
def lemmatize(text):
    '''
    This function takes in a string and returns it lemmatized.
    '''
    # Create the Lemmatizer.
    wnl = nltk.stem.WordNetLemmatizer()
    # Use the lemmatizer on each token
    lemmas = [wnl.lemmatize(word) for word in text.split()]
    # Join the lemmatized list of words back into a string
    article_lemmatized = ' '.join(lemmas)
    return article_lemmatized, lemmas

In [14]:
article_lemmatized, lemmas = lemmatize(article_tokens)

In [26]:
pd.Series(lemmas).value_counts().head(10)

to         9
need       5
what       4
data       4
science    4
you        4
know       4
the        3
math       3
and        3
Name: count, dtype: int64

In [6]:
article_lemmatized, lemmas = p.lemmatize(article_tokens_p)
pd.Series(lemmas).value_counts().head(10)

to         9
need       5
what       4
data       4
science    4
you        4
know       4
the        3
math       3
and        3
Name: count, dtype: int64

5. Define a function named remove_stopwords. It should accept some text and return the text after removing all the stopwords.

- This function should define two optional parameters, extra_words and exclude_words. These parameters should define any additional stop words to include, and any words that we don't want to remove.

In [15]:
def remove_stopwords(text, extra_words=[], exclude_words=[]):
    '''
    This function takes in a string and returns it after removing stopwords.
    '''
    # Create stopword_list
    stopword_list = stopwords.words('english')
    # Remove 'exclude_words' from stopword_list to keep these in the text
    stopword_list = set(stopword_list) - set(exclude_words)
    # Add in 'extra_words' to stopword_list
    stopword_list = stopword_list.union(set(extra_words))
    # Split words in textstr
    words = text.split()
    # Create a list of words from my string with stopwords removed and assign to variable
    filtered_words = [w for w in words if w not in stopword_list]
    # Join words in the list back into strings and assign to a variable
    article_without_stopwords = ' '.join(filtered_words)
    return article_without_stopwords

In [16]:
article_without_stopwords = remove_stopwords(article_lemmatized)
print(article_without_stopwords)

coming data science program need know math stats however many applicant actually learn application process dont need expert applying data science accessible field anyone dedicated learning new skill work applicant help learn need know skill mean exactly exactly data science math stats principle need know main math principle need know get codeups data science program

In [7]:
#testing the function in prepare.py

article_without_stopwords = p.remove_stopwords(article_lemmatized)
print(article_without_stopwords)

coming data science program need know math stats however many applicant actually learn application process dont need expert applying data science accessible field anyone dedicated learning new skill work applicant help learn need know skill mean exactly exactly data science math stats principle need know main math principle need know get codeups data science program

6. Use your data from the acquire to produce a dataframe of the news articles. Name the dataframe news_df.

In [17]:
base_url = 'https://inshorts.com/en/read/'
categories = [
    'business',
    'entertainment',
    'technology',
    'sports'
]

news_df = a.scrape_news_articles(categories, base_url)
news_df.head()

Grabbing contents for business.
Time to grab contents of business: 2.83 seconds
Grabbing contents for entertainment.
Time to grab contents of entertainment: 0.89 seconds
Grabbing contents for technology.
Time to grab contents of technology: 0.82 seconds
Grabbing contents for sports.
Time to grab contents of sports: 1.37 seconds
Job finished!
It took 0.1 minutes to execute scraping

,title,body,category
0,"Astrotalk eyes Rs 600 cr in revenues, preps ne...","Astrotalk, an app for astrology, is expanding ...",business
1,Kenneth Griffin to build one of the world's mo...,"Kenneth Griffin, America's billionaire hedge f...",business
2,Huda Beauty faces boycott calls after Founder ...,Cosmetics brand Huda Beauty is facing calls fo...,business
3,Bank of Baroda suspends 60 employees over app ...,Bank of Baroda has reportedly suspended around...,business
4,Tata Group to invest another $1 bn in Tata Dig...,Tata Group is weighing investing another $1 bi...,business

7. Make another dataframe for the Codeup blog posts. Name the dataframe codeup_df.

In [19]:
blog_links = ['https://codeup.edu/featured/apida-heritage-month/',
 'https://codeup.edu/featured/women-in-tech-panelist-spotlight/',
 'https://codeup.edu/featured/women-in-tech-rachel-robbins-mayhill/',
 'https://codeup.edu/codeup-news/women-in-tech-panelist-spotlight-sarah-mellor/',
 'https://codeup.edu/events/women-in-tech-madeleine/',
 'https://codeup.edu/codeup-news/panelist-spotlight-4/']
codeup_df = a.scrape_blog_articles(blog_links)

codeup_df.head()

,title,article
0,Spotlight on APIDA Voices: Celebrating Heritag...,May is traditionally known as Asian American a...
1,Women in tech: Panelist Spotlight – Magdalena ...,Women in tech: Panelist Spotlight – Magdalena ...
2,Women in tech: Panelist Spotlight – Rachel Rob...,Women in tech: Panelist Spotlight – Rachel Rob...
3,Women in Tech: Panelist Spotlight – Sarah Mellor,Women in tech: Panelist Spotlight – Sarah Mell...
4,Women in Tech: Panelist Spotlight – Madeleine ...,Women in tech: Panelist Spotlight – Madeleine ...

8. For each dataframe, produce the following columns:

 - title to hold the title
 - original to hold the original article/post content
 - clean to hold the normalized and tokenized original with the stopwords removed.
 - stemmed to hold the stemmed version of the cleaned data.
 - lemmatized to hold the lemmatized version of the cleaned data.

In [21]:
# rename article column to original
news_df.rename(columns={'body': 'original'}, inplace=True)
codeup_df.rename(columns={'article': 'original'}, inplace=True)

# add 'clean' column to each df
news_df['clean'] = news_df.original.apply(basic_clean).apply(tokenize).apply(remove_stopwords)
codeup_df['clean'] = codeup_df.original.apply(basic_clean).apply(tokenize).apply(remove_stopwords)

# add 'stemmed' column to each df
news_df['stemmed'] = news_df.clean.apply(stem)
codeup_df['stemmed'] = codeup_df.clean.apply(stem)

# add 'lemmatized' column to each df
news_df['lemmatized'] = news_df.clean.apply(lemmatize)
codeup_df['lemmatized'] = codeup_df.clean.apply(lemmatize)

news_df.head()

,title,original,category,clean,stemmed,lemmatized
0,"Astrotalk eyes Rs 600 cr in revenues, preps ne...","Astrotalk, an app for astrology, is expanding ...",business,astrotalk app astrology expanding business men...,(astrotalk app astrolog expand busi mental wel...,(astrotalk app astrology expanding business me...
1,Kenneth Griffin to build one of the world's mo...,"Kenneth Griffin, America's billionaire hedge f...",business,kenneth griffin americas billionaire hedge fun...,(kenneth griffin america billionair hedg fund ...,(kenneth griffin america billionaire hedge fun...
2,Huda Beauty faces boycott calls after Founder ...,Cosmetics brand Huda Beauty is facing calls fo...,business,cosmetics brand huda beauty facing calls boyco...,(cosmet brand huda beauti face call boycott fo...,(cosmetic brand huda beauty facing call boycot...
3,Bank of Baroda suspends 60 employees over app ...,Bank of Baroda has reportedly suspended around...,business,bank baroda reportedly suspended around 60 emp...,(bank baroda reportedli suspend around 60 empl...,(bank baroda reportedly suspended around 60 em...
4,Tata Group to invest another $1 bn in Tata Dig...,Tata Group is weighing investing another $1 bi...,business,tata group weighing investing another 1 billio...,(tata group weigh invest anoth 1 billion fresh...,(tata group weighing investing another 1 billi...

In [55]:
codeup_df.head()

,title,original,clean,stemmed,lemmatized
0,Spotlight on APIDA Voices: Celebrating Heritag...,May is traditionally known as Asian American a...,may traditionally known asian american pacific...,(may tradit known asian american pacif island ...,(may traditionally known asian american pacifi...
1,Women in tech: Panelist Spotlight – Magdalena ...,Women in tech: Panelist Spotlight – Magdalena ...,women tech panelist spotlight magdalena rahn c...,(women tech panelist spotlight magdalena rahn ...,(woman tech panelist spotlight magdalena rahn ...
2,Women in tech: Panelist Spotlight – Rachel Rob...,Women in tech: Panelist Spotlight – Rachel Rob...,women tech panelist spotlight rachel robbinsma...,(women tech panelist spotlight rachel robbinsm...,(woman tech panelist spotlight rachel robbinsm...
3,Women in Tech: Panelist Spotlight – Sarah Mellor,Women in tech: Panelist Spotlight – Sarah Mell...,women tech panelist spotlight sarah mellor cod...,(women tech panelist spotlight sarah mellor co...,(woman tech panelist spotlight sarah mellor co...
4,Women in Tech: Panelist Spotlight – Madeleine ...,Women in tech: Panelist Spotlight – Madeleine ...,women tech panelist spotlight madeleine capper...,(women tech panelist spotlight madelein capper...,(woman tech panelist spotlight madeleine cappe...

In [2]:
#testing the function in prepare.py

news_df = p.wrangle_news()

Grabbing contents for business.
Time to grab contents of business: 0.1 seconds
Grabbing contents for entertainment.
Time to grab contents of entertainment: 0.28 seconds
Grabbing contents for technology.
Time to grab contents of technology: 0.18 seconds
Grabbing contents for sports.
Time to grab contents of sports: 0.09 seconds
Job finished!
It took 0.01 minutes to execute scraping

In [3]:
news_df

,title,original,category,clean,stemmed,lemmatized
0,"Astrotalk eyes Rs 600 cr in revenues, preps ne...","Astrotalk, an app for astrology, is expanding ...",business,astrotalk app astrology expanding business men...,(astrotalk app astrolog expand busi mental wel...,(astrotalk app astrology expanding business me...
1,Kenneth Griffin to build one of the world's mo...,"Kenneth Griffin, America's billionaire hedge f...",business,kenneth griffin americas billionaire hedge fun...,(kenneth griffin america billionair hedg fund ...,(kenneth griffin america billionaire hedge fun...
2,Huda Beauty faces boycott calls after Founder ...,Cosmetics brand Huda Beauty is facing calls fo...,business,cosmetics brand huda beauty facing calls boyco...,(cosmet brand huda beauti face call boycott fo...,(cosmetic brand huda beauty facing call boycot...
3,Bank of Baroda suspends 60 employees over app ...,Bank of Baroda has reportedly suspended around...,business,bank baroda reportedly suspended around 60 emp...,(bank baroda reportedli suspend around 60 empl...,(bank baroda reportedly suspended around 60 em...
4,Tata Group to invest another $1 bn in Tata Dig...,Tata Group is weighing investing another $1 bi...,business,tata group weighing investing another 1 billio...,(tata group weigh invest anoth 1 billion fresh...,(tata group weighing investing another 1 billi...
5,Malaysian ringgit falls to 25-year low,"The Malaysian ringgit fell to a 25-year low, t...",business,malaysian ringgit fell 25year low currencys lo...,(malaysian ringgit fell 25year low currenc low...,(malaysian ringgit fell 25year low currency lo...
6,Google launches credit services for consumers ...,Google has announced a range of credit-focused...,business,google announced range creditfocused products ...,(googl announc rang creditfocus product consum...,(google announced range creditfocused product ...
7,Microsoft India’s revenues climb 39% to $2.3 bn,"Microsoft, the world's largest software player...",business,microsoft worlds largest software player recor...,(microsoft world largest softwar player record...,(microsoft world largest software player recor...
8,"We'll continue hiring, will 1st honour offers ...",Wipro will continue hiring and hire employees ...,business,wipro continue hiring hire employees every qua...,(wipro continu hire hire employe everi quarter...,(wipro continue hiring hire employee every qua...
9,AirAsia CEO Tony shares pic of outdoor BBQ aft...,After Tony Fernandes shared a picture of him s...,business,tony fernandes shared picture sitting shirtles...,(toni fernand share pictur sit shirtless get m...,(tony fernandes shared picture sitting shirtle...
10,A lot of my casual girlfriends attended my wed...,"During an interview with Anas Bukhash, actor V...",entertainment,interview anas bukhash actor vivek oberoi open...,(interview ana bukhash actor vivek oberoi open...,(interview ana bukhash actor vivek oberoi open...
11,Regret dropping out of college over depression...,Aamir Khan's daughter Ira opened up about drop...,entertainment,aamir khans daughter ira opened dropping colle...,(aamir khan daughter ira open drop colleg stud...,(aamir khan daughter ira opened dropping colle...
12,Pic shows Aamir Khan's son Junaid Khan's trans...,Celebrity photographer Avinash Gowariker took ...,entertainment,celebrity photographer avinash gowariker took ...,(celebr photograph avinash gowarik took instag...,(celebrity photographer avinash gowariker took...
13,I was seen only as saree-clad Indian character...,Mouni Roy said maybe people saw her only as sa...,entertainment,mouni roy said maybe people saw sareeclad indi...,(mouni roy said mayb peopl saw sareeclad india...,(mouni roy said maybe people saw sareeclad ind...
14,Not easy to live up to expectations: Vivek on ...,Actor Vivek Oberoi opened up about his bad bre...,entertainment,actor vivek oberoi opened bad breakups toxic r...,(actor vivek oberoi open bad breakup toxic rel...,(actor vivek oberoi opened bad breakup toxic r...
15,"Aamir said if Dangal flops, he'll teach people...",Filmmaker Nitesh Tiwari said Aamir Khan and he...,entertainment,filmmaker nitesh tiwari said aamir khan never ...,(filmmak nitesh tiwari said aamir khan never a...,(filmmaker nitesh tiwari said aamir khan never...
16,"My mom thought Ali was already married, had 2 ...",Actress Richa Chadha revealed that when she to...,entertainment,actress richa chadha revealed told mother star...,(actress richa chadha reveal told mother start...,(actress richa chadha revealed told mother sta...
17,"I slept next to men accused of 88 murders, chi...","Raj Kundra, who was arrested in an alleged por...",entertainment,raj kundra arrested alleged pornographyrelated...,(raj kundra arrest alleg pornographyrel case 2...,(raj kundra arrested alleged pornographyrelate...
18,We can't cancel everyone: Kiara on playing Pre...,"Actress Kiara Advani, in an interview with Fem...",entertainment,actress kiara advani interview femina addresse...,(actress kiara advani interview femina address...,(actress kiara advani interview femina address...
19,Salman Khan confirms end of 9-year-old feud wi...,Salman Khan has confirmed that his feud with A...,entertainment,salman khan confirmed feud arijit singh come e...,(salman khan confirm feud arijit singh come en...,(salman khan confirmed feud arijit singh come ...
20,"Astrotalk eyes Rs 600 cr in revenues, preps ne...","Astrotalk, an app for astrology, is expanding ...",technology,astrotalk app astrology expanding business men...,(astrotalk app astrolog expand busi mental wel...,(astrotalk app astrology expanding business me...
21,WhatsApp allows using multiple accounts on sam...,Two WhatsApp accounts can now be logged in at ...,technology,two whatsapp accounts logged time helpful swit...,(two whatsapp account log time help switch acc...,(two whatsapp account logged time helpful swit...
22,Tata Group to invest another $1 bn in Tata Dig...,Tata Group is weighing investing another $1 bi...,technology,tata group weighing investing another 1 billio...,(tata group weigh invest anoth 1 billion fresh...,(tata group weighing investing another 1 billi...
23,Google launches credit services for consumers ...,Google has announced a range of credit-focused...,technology,google announced range creditfocused products ...,(googl announc rang creditfocus product consum...,(google announced range creditfocused product ...
24,Microsoft India’s revenues climb 39% to $2.3 bn,"Microsoft, the world's largest software player...",technology,microsoft worlds largest software player recor...,(microsoft world largest softwar player record...,(microsoft world largest software player recor...
25,"We'll continue hiring, will 1st honour offers ...",Wipro will continue hiring and hire employees ...,technology,wipro continue hiring hire employees every qua...,(wipro continu hire hire employe everi quarter...,(wipro continue hiring hire employee every qua...
26,Wipro to pay about 80% of variable pay in July...,Wipro Chief Human Resources Officer Saurabh Go...,technology,wipro chief human resources officer saurabh go...,(wipro chief human resourc offic saurabh govil...,(wipro chief human resource officer saurabh go...
27,Needed talent from multiple places: Wipro CEO ...,"Wipro CEO Thierry Delaporte, when asked about ...",technology,wipro ceo thierry delaporte asked several seni...,(wipro ceo thierri delaport ask sever seniorle...,(wipro ceo thierry delaporte asked several sen...
28,Google to manufacture Pixel smartphones in India,Google has officially confirmed that the Pixel...,technology,google officially confirmed pixel series smart...,(googl offici confirm pixel seri smartphon man...,(google officially confirmed pixel series smar...
29,Google to lay off 40-45 workers in News divisi...,Google is firing about 40-45 employees in its ...,technology,google firing 4045 employees google news divis...,(googl fire 4045 employe googl news divis cnbc...,(google firing 4045 employee google news divis...
30,Sorry for stealing it from Ravindra Jadeja: Vi...,On getting the Player of the Match award for h...,sports,getting player match award 10397 bangladesh od...,(get player match award 10397 bangladesh odi w...,(getting player match award 10397 bangladesh o...
31,Virat Kohli one away from equalling Sachin Ten...,Former Team India captain Virat Kohli smashed ...,sports,former team india captain virat kohli smashed ...,(former team india captain virat kohli smash 4...,(former team india captain virat kohli smashed...
32,Virat Kohli reaches 48th ODI ton with a six as...,Virat Kohli reached his 48th ODI hundred with ...,sports,virat kohli reached 48th odi hundred six india...,(virat kohli reach 48th odi hundr six india de...,(virat kohli reached 48th odi hundred six indi...
33,"You can't just coast along, go for the jugular...",Ex-Australia opener Matthew Hayden said India ...,sports,exaustralia opener matthew hayden said india c...,(exaustralia open matthew hayden said india ca...,(exaustralia opener matthew hayden said india ...
34,Rohit Sharma's reaction in dressing room after...,Team India captain Rohit Sharma's reaction in ...,sports,team india captain rohit sharmas reaction dres...,(team india captain rohit sharma reaction dres...,(team india captain rohit sharmas reaction dre...
35,Issue is being made as Pak lost vs India: Pane...,Reacting to Pakistan Cricket Board (PCB) filin...,sports,reacting pakistan cricket board pcb filing com...,(react pakistan cricket board pcb file complai...,(reacting pakistan cricket board pcb filing co...
36,Rohit Sharma has hit 32 sixes in first 10 over...,Team India captain Rohit Sharma has hit 32 six...,sports,team india captain rohit sharma hit 32 sixes f...,(team india captain rohit sharma hit 32 six fi...,(team india captain rohit sharma hit 32 six fi...
37,Fans watch India's match from terrace near sta...,A picture has gone viral showing fans watching...,sports,picture gone viral showing fans watching india...,(pictur gone viral show fan watch india odi wo...,(picture gone viral showing fan watching india...
38,Rohit Sharma smashes most sixes by captain of ...,India captain Rohit Sharma has broken the reco...,sports,india captain rohit sharma broken record smash...,(india captain rohit sharma broken record smas...,(india captain rohit sharma broken record smas...
39,US Open 2022 finalist Ruud beaten by player ra...,"Norwegian tennis player Casper Ruud, who is cu...",sports,norwegian tennis player casper ruud currently ...,(norwegian tenni player casper ruud current ra...,(norwegian tennis player casper ruud currently...

In [4]:
#testing the function in prepare.py

codeup_df = p.wrangle_codeup_blog()

In [5]:
codeup_df

,title,original,clean,stemmed,lemmatized
0,Spotlight on APIDA Voices: Celebrating Heritag...,May is traditionally known as Asian American a...,may traditionally known asian american pacific...,(may tradit known asian american pacif island ...,(may traditionally known asian american pacifi...
1,Women in tech: Panelist Spotlight – Magdalena ...,Women in tech: Panelist Spotlight – Magdalena ...,women tech panelist spotlight magdalena rahn c...,(women tech panelist spotlight magdalena rahn ...,(woman tech panelist spotlight magdalena rahn ...
2,Women in tech: Panelist Spotlight – Rachel Rob...,Women in tech: Panelist Spotlight – Rachel Rob...,women tech panelist spotlight rachel robbinsma...,(women tech panelist spotlight rachel robbinsm...,(woman tech panelist spotlight rachel robbinsm...
3,Women in Tech: Panelist Spotlight – Sarah Mellor,Women in tech: Panelist Spotlight – Sarah Mell...,women tech panelist spotlight sarah mellor cod...,(women tech panelist spotlight sarah mellor co...,(woman tech panelist spotlight sarah mellor co...
4,Women in Tech: Panelist Spotlight – Madeleine ...,Women in tech: Panelist Spotlight – Madeleine ...,women tech panelist spotlight madeleine capper...,(women tech panelist spotlight madelein capper...,(woman tech panelist spotlight madeleine cappe...
5,Black Excellence in Tech: Panelist Spotlight –...,Black excellence in tech: Panelist Spotlight –...,black excellence tech panelist spotlight wilma...,(black excel tech panelist spotlight wilmari d...,(black excellence tech panelist spotlight wilm...

9. Ask yourself:

 - If your corpus is 493KB, would you prefer to use stemmed or lemmatized text?
 - If your corpus is 25MB, would you prefer to use stemmed or lemmatized text?
 - If your corpus is 200TB of text and you're charged by the megabyte for your hosted computational resources, would you prefer to use stemmed or lemmatized text?

 - In a small corpus (493KB), lemmatization is preferable because it provides more linguistically accurate results by reducing words to their base form.
 
 - Medium-sized corpus (25MB), lemmatization is still favored because it balances accuracy and computational efficiency, providing meaningful results without overly taxing resources.
 
 - In a massive corpus of 200TB, stemming is preferred due to computational efficiency. Stemming simplifies words to their root forms, which reduces the processing load, crucial in a cost-sensitive, resource-intensive environment.