
<div style="background-color: lightblue; padding: 60px;">
    <h1><b>Regex Exercise
</b></h1>
</div>

In [ ]:
Regular Expressions
A regular expression is a sort of meta-language that can be used to describe patterns in text.

Regexes are most commonly used in one of two ways:

To find/extract text that matches a pattern.
To replace/substitute text that matches a pattern.

In [7]:
import re
import pandas as pd

# Exercises

## 1. Write a function named is_vowel. It should accept a string as input and use a regular expression to determine if the passed string is a vowel. While not explicity mentioned in the lesson, you can treat the result of re.search as a boolean value that indicates whether or not the regular expression matches the given string.

In [8]:
# regex --> we can check a range of characters
#       --> we dont need necessarily to check length in the same way
# (because we have the starts with and ends with characters ^, $)


def is_vowel(some_string):
    #return (len(1) and type(str) and is in 'aeiouAEIOU')
    if type(some_string) == str:
        pattern = r'^[aeiouAEIOU]$'
        return bool(re.search(pattern, some_string))
    else:
        return False

Testing the function:

In [9]:
is_vowel('a')

True

In [10]:
is_vowel('A')

True

In [11]:
is_vowel('EE')

False

In [12]:
is_vowel('e')

True

## 2 Write a function named is_valid_username that accepts a string as input. A valid username starts with a lowercase letter, and only consists of lowercase letters, numbers, or the _ character. It should also be no longer than 32 characters. The function should return either True or False depending on whether the passed string is a valid username.

In [ ]:
# start with a lowercase letter : ^[a-z]
# consists otherwise of only lowercase letters, numbers, or _
# 33 length total

In [13]:
def is_valid_username(some_username):
    pattern = r'^[a-z][a-z\d_]{,31}$'
    return bool(re.search(pattern, some_username))

Testing the function:

In [15]:
len('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa')

33

In [17]:
assert(is_valid_username('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa') == False)

# If the assertion passes (i.e., the function does return `False), there will be no visible output
# It's mainly used as a testing mechanism to ensure that the function behaves as expected within the code

In [18]:
assert(is_valid_username('aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa') == True)

In [19]:
assert(is_valid_username('codeup') == True)

In [20]:
assert(is_valid_username('Codeup') == False)

In [21]:
assert(is_valid_username('codeup123') == True )

In [22]:
assert(is_valid_username('1codeup') == False)

## 3. Write a regular expression to capture phone numbers. It should match all of the following:
 - (210) 867 5309
 - +1 210.867.5309
 - 867-5309
 - 210-867-5309

In [40]:
subject = '''
(210) 867 5309
+1 210.867.5309
867-5309
210-867-5309
'''
regexp =r'\d+'
phone_numbers = re.findall(regexp,subject)

for subject in subject.split('\n'):
    concatenated_numbers = ''.join(re.findall(regexp,subject))
    print(concatenated_numbers)

2108675309
12108675309
8675309
2108675309

In [ ]:
# or

In [25]:
phone_nos = [
'(210) 867 5309',
'+1 210.867.5309',
'867-5309',
'210-867-5309',
'12108671894']

In [ ]:
# define my understanding of what a phone number is:
# at bare minimum:
# three digits followed by four digits
# there may or may not be stuff between those
# it may have a three digit area code, which may or may not have parens around it
# and it may have a region code, which may or may not start with a plus

In [26]:
regex = '''
\+?(?P<region_code>\d)?
\D?
\(?(?P<area_code>\d{3})?\)?
\D?
(?P<first_three>\d{3})
.?
(?P<last_four>\d{4})$
'''

In [27]:
# take the list, cast it as a series, use str.extract and utilize
# capture groups in order to see if I can grab the stuff I want

pd.Series(phone_nos).str.extract(regex, re.VERBOSE)

  region_code area_code first_three last_four
0         NaN       210         867      5309
1           1       210         867      5309
2         NaN       NaN         867      5309
3         NaN       210         867      5309
4           1       210         867      1894

## 4.  Use regular expressions to convert the dates below to the standardized year-month-day format.
 - 02/04/19
 - 02/05/19
 - 02/06/19
 - 02/07/19
 - 02/08/19
 - 02/09/19
 - 02/10/19

In [28]:
date_list = ['02/04/19',
             '02/05/19',
             '02/06/19',
             '02/07/19',
             '02/08/19',
             '02/09/19',
             '02/10/19',
            ]
# currently: mm/dd/yy
#  --> yyyy-mm-dd

In [ ]:
# right now:
# first thing : month -> capture group 1
# second thing: day -> capture group 2
# third thing: is the year -> capture group 3
# 
# when I go to reformat this, I want
# 20(3)-(1)-(2)

In [29]:
pattern = r'(\d{2})/(\d{2})/(\d{2})'
substitution = r'20\3-\1-\2'
re.sub(pattern,substitution,date_list[0])

'2019-02-04'

In [30]:
pd.Series(date_list).str.replace(pattern, substitution, regex=True)

0    2019-02-04
1    2019-02-05
2    2019-02-06
3    2019-02-07
4    2019-02-08
5    2019-02-09
6    2019-02-10
dtype: object

## 5. Write a regex to extract the various parts of these logfile lines:


 - GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58
 - POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58
 - GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58

In [32]:
log_files = '''GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58
POST /users_accounts/file-upload [16/Apr/2019:193452+0000] HTTP/1.1 {201} 42 "User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/73.0.3683.86 Safari/537.36" 97.105.19.58
GET /api/v1/items?page=3 [16/Apr/2019:193453+0000] HTTP/1.1 {429} 3561 "python-requests/2.21.0" 97.105.19.58'''

In [38]:
logs = pd.Series(log_files.split('\n'))

In [39]:
logs

0    GET /api/v1/sales?page=86 [16/Apr/2019:193452+...
1    POST /users_accounts/file-upload [16/Apr/2019:...
2    GET /api/v1/items?page=3 [16/Apr/2019:193453+0...
dtype: object

In [35]:
# GET /api/v1/sales?page=86 [16/Apr/2019:193452+0000] HTTP/1.1 {200} 510348 "python-requests/2.21.0" 97.105.19.58
# first thing: request method
# second thing: endpoint
# third thing: time stamp
# fourth thing: HTTP version
# fifth thing: response code
# sixth thing: bytes transferred 
# seventh thing: user agent
# eighth thing: ip

In [36]:
pattern = r'''
^(?P<method>GET|POST)
\s+
(?P<endpoint>.*)
\s+
\[(?P<timestamp>.*)\]
\s+
(?P<http_ver>.*)
\s+
\{(?P<response>\d+)\}
\s+
(?P<bytes>\d+)
\s+
"(?P<user_agent>.*)"
\s+
(?P<ip>.*)$
'''

In [37]:
logs.str.extract(pattern, re.VERBOSE)

,method,endpoint,timestamp,http_ver,response,bytes,user_agent,ip
0,GET,/api/v1/sales?page=86,16/Apr/2019:193452+0000,HTTP/1.1,200,510348,python-requests/2.21.0,97.105.19.58
1,POST,/users_accounts/file-upload,16/Apr/2019:193452+0000,HTTP/1.1,201,42,User-Agent: Mozilla/5.0 (X11; Fedora; Fedora; ...,97.105.19.58
2,GET,/api/v1/items?page=3,16/Apr/2019:193453+0000,HTTP/1.1,429,3561,python-requests/2.21.0,97.105.19.58